/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif; 
    background-color: #F3F1FF;
}
header{
    display: flex;
    background-color: goldenrod;
    width: 100%;
    margin-top: 0%;
    position: fixed;
    
    
}
.navs {
    
    display: flex;
    margin-top: 23px;
    margin-left: auto;
    font-size: 23px;

    /* align-items: center; */
    /* justify-content: space-between; */
    /* align-content: center; */
    /* flex-wrap: nowrap; */
    flex-direction: row;

    
}
nav{
    
    display: flex;
    position: relative;
}

a{
    margin-right: 50px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #F3F1FF;
}

    


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container{
 background-color: slategray;
 width: 100%;
 margin-bottom: 30px;
 margin-top: 30px;
}
.ab{
    display: flex;
    

    
}
.title{
    margin:250px;
    text-align: center;
    font-size: 25px;
}
.title a{
    
}
.bt{
    margin-top: 50px;
    background-color: orange;
    background-size: 400px;
    border-radius: 10px;
    color: #F3F1FF;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;

   
}




.tp img {
    width: 90%;
    margin-top: 250px;
    margin-right: 500px;
  
    
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    

}
.container2{
    width: 90%;
    text-align: center;
    justify-content: center;
   
}
.logos{
    display: flex;
    margin: 30px 40px;
    
}
.logo{
    margin-right: 150px;
    margin-left: 15px;
}
hr{
  border: 1px solid goldenrod;
  width: 100%;
}
.Container3{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
}
.courses{
    display: grid;
    
    grid-template-columns: repeat(3,1fr) ;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap: 30px;
    grid-column-gap: 20px;
   
   
}
.course{
    border-style: 3px solid gold;
    border:3px solid rgb(133, 133, 151);
    box-shadow:10px solid rgb(170, 169, 166);
}
.course img{
    width: 80%;
    
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:orange;
}
.fa-star-half-stroke{
    color:orange;
}


.bt2-d{
    margin-top: 20px;
    margin-left: 1200px;
    
}
.bt2-d .bt{
      
      font-size: 20px;
      
}

.container4{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}
.video-banner img{
  
    size: 300px;
    margin-top: 50px;
    margin-right: 250px;

}
.photo-details{
    margin: 40px;
    margin-top: 100px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.photo-details .bt{
    font-size: 1.5em;
    justify-content: center;
    margin-right: 200px;
    text-align: center;
}
.socila-media{
    text-align: center;
    justify-content: space-between;
    margin-bottom: 30px; 
    margin-left: 55px;
    align-items: center;
  

}
.fa-brands{
    font-size: 16px;
}
.fa-brands.filled{
    color:orange;
}



footer{
    background-color:black;
    color: #F3F1FF;
    width: 100%;
    text-align: center;
}

/* media query start  */

/* mobile device */
@media (min-width:488) and (max-width:688) {
    /* .container.navs-details.main-container.courses.main-container.courses .header.footer.navs */
    
    .header.footer.body
    {
        
        
        display: grid;
        
        grid-template-columns: repeat(1,1fr) ;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-row-gap: 10px;
        grid-column-gap: 6px;
       
    
}
}

/* lablat device */

@media (min-width:688) and (max-width:992) {
    /* .container.navs-details.main-container.courses.main-container.courses .header.footer.navs */
    
    .header.footer.body.header-container
    .main-continer
    {
        
        
        display: grid;
        
        grid-template-columns: repeat(2,1fr) ;
        /* grid-template-columns: 1fr 1fr; */
        grid-row-gap: 15px;
        grid-column-gap: 10px;
       
    
}
}
